@import './defaults/_fonts';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background: url(~@images/test.png) no-repeat center/cover;
}
