extends /templates/auth-form/auth-form

block doc-title 
	title Instagram

block aside-img
	aside.iphone
		section.iphone__screen.iphone__screen--first

block auth-form-contents
	form.auth-form(action="")
		label
			input(required="true" type="text" placeholder="이메일")
		label
			input(required="true" type="password" placeholder="비밀번호")
		button(type="submit") 로그인
		p 
			a(href= lost_password) 비밀번호를 잊으셨습니까 휴먼?

block separated-contents
	p 계정이 없으신가요? 
		a(href= sign_up) 가입하기
