extends /templates/auth-container/auth-container

block doc-title 
	title Instagram

block aside-img
	aside.iphone
		section.iphone__screen.iphone__screen--first

block auth-form-contents
	form.auth-form(action="")
		section.user-id-wrap
			input.dynamic-input#userId(required="true" type="text")
			label(for="userId") 전화번호 혹은 사용자 이름
		section.user-Password-wrap
			input.dynamic-input#userPassword(required="true" type="password")
			label(for="userPassword") 비밀번호
		button(type="submit") 로그인
		p 
			a(href= lost_password) 비밀번호를 잊으셨습니까 휴먼?

block separated-contents
	p 계정이 없으신가요? 
		a(href= sign_up) 가입하기
