extends /templates/auth-form/auth-form

block doc-title 
	title Instagram

block aside-img
	include /templates/login-iphone/login-iphone

block form-area
	form.auth__form(action="")
		label
			input.auth__form__input(required="true" type="text" placeholder="이메일")
		label
			input.auth__form__input(required="true" type="password" placeholder="비밀번호")
		button(type="submit") 로그인
		p 
			a(href= lost_password) 비밀번호를 잊으셨습니까 휴먼?

block separated-contents
	p 계정이 없으신가요? 
		a(href= sign_up) 가입하기
