@include auth-form-design;

.iphone {
  width: 30rem;
  height: 100%;
  background: url(~@images/iphone-viral.png) right no-repeat;
  background-size: contain;

  &__screen {
    margin-top: 46%;
    margin-left: 33.5%;
    height: 51%;
    width: 52.3%;

    &--first {
      background: url(~@images/image-cycle/first.jpg) no-repeat;
      background-size: contain;
    }
  }
}

.auth__form p {
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem 0;
}

@include device-adaptive(tablet) {
  .iphone {
    display: none;
  }
}
