@include auth-form-design;

.iphone {
  width: 30rem;
  height: 100%;
  min-height: 30rem;
  background: url(~@images/iphone.png) right no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;

  &__screen {
    margin-top: 0.55rem;
    margin-left: 15.35rem;
    height: 20.5rem;
    width: 11.46rem;
    position: absolute;
    transition: opacity 3.5s;

    &--first {
      background: url(~@images/image-cycle/1-img.jpg) no-repeat;
      background-size: contain;
      z-index: 5;
      opacity: 0;
    }

    &--second {
      background: url(~@images/image-cycle/2-img.jpg) no-repeat;
      background-size: contain;
      z-index: 4;
      opacity: 0;
    }

    &--third {
      background: url(~@images/image-cycle/3-img.jpg) no-repeat;
      background-size: contain;
      z-index: 3;
      opacity: 0;
    }

    &--fourth {
      background: url(~@images/image-cycle/4-img.jpg) no-repeat;
      background-size: contain;
      z-index: 2;
      opacity: 0;
    }

    &--fifth {
      background: url(~@images/image-cycle/5-img.jpg) no-repeat;
      background-size: contain;
      z-index: 1;
      opacity: 0;
    }

    &--curr {
      opacity: 1;
    }
  }
}

.auth-form {
  padding-top: 0.5rem;

  & p {
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem 0;
  }
}

@include device-adaptive(tablet) {
  .iphone {
    display: none;
  }
}
