@include auth-form-design;

.iphone {
  width: 30rem;
  height: 100%;
  min-height: 55rem;
  background: url(~@images/iphone-viral.png) right no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;

  &__screen {
    margin-top: 0.66rem;
    margin-left: 33.5%;
    height: 27.9rem;
    width: 15.66rem;

    &--first {
      background: url(~@images/image-cycle/first.jpg) no-repeat;
      background-size: contain;
    }
  }
}

.auth-form {
  padding-top: 0.5rem;

  & p {
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem 0;
  }
}

@include device-adaptive(tablet) {
  .iphone {
    display: none;
  }
}
