footer.legal-policy
  nav.legal-policy__navigation
    p.legal-policy__navigation__contents--about
      a(href ="#")
        |소개
    p.legal-policy__navigation__contents--blog
      a(href ="#")
        |블로그
    p.legal-policy__navigation__contents--careers
      a(href ="#")
        |채용 정보
    p.legal-policy__navigation__contents--help
      a(href ="#")
        |도움말
    p.legal-policy__navigation__contents--api
      a(href ="#")
        |API
    p.legal-policy__navigation__contents--privacy
      a(href ="#")
        |개인정보처리방침
    p.legal-policy__navigation__contents--terms
      a(href ="#")
        |약관
    p.legal-policy__navigation__contents--profiles
      a(href ="#")
        |인기 계정
    p.legal-policy__navigation__contents--hash-tag
      a(href ="#")
        |해시태그
    p.legal-policy__navigation__contents--locations
      a(href ="#")
        |위치
  p.legal-policy--copyright
    |© 2021 instagram from invincibleTeam