footer.legal-navs
  nav.footer--navigator
    p
      a(href ="#").footer--navigator-contents.footer--navigator-contents--about
        |소개
    p
      a(href ="#").footer--navigator-contents.footer--navigator-contents--blog
        |블로그
    p
      a(href ="#").footer--navigator-contents.footer--navigator-contents--careers
        |채용 정보
    p
      a(href ="#").footer--navigator-contents.footer--navigator-contents--help
        |도움말
    p
      a(href ="#").footer--navigator-contents.footer--navigator-contents--api
        |API
    p
      a(href ="#").footer--navigator-contents.footer--navigator-contents--privacy
        |개인정보처리방침
    p
      a(href ="#").footer--navigator-contents.footer--navigator-contents--terms
        |약관
    p
      a(href ="#").footer--navigator-contents.footer--navigator-contents--profiles
        |인기 계정
    p
      a(href ="#").footer--navigator-contents.footer--navigator-contents--hash-tag
        |해시태그
    p
      a(href ="#").footer--navigator-contents.footer--navigator-contents--locations
        |위치
  p.copyright
    |© 2021 instagram from invincibleTeam