extends /templates/example-container/example-container

block page-title
  title Home

block title
  h1 예제 페이지 입니다.

block content
  p 
    | 현재 존재하는 페이지들은 프로젝트 구성의 이해를 돕기 위한 임시 페이지들입니다.
    | 살펴보시고 예시 없이도 페이지를 구성할 수 있을 정도가 되면 삭제해주세요 :)
  a(href= test) 테스트 페이지로 이동 →
