.iphone-viral__img {
  width: 30rem;
  height: 39rem;
  background: url(~@images/iphone-viral.png) right no-repeat;
  background-size: contain;
}

.img-cycle__wrap {
  margin-top: 6.25rem;
  margin-left: 10.85rem;
  height: 27rem;
  width: 15.33rem;
}

.first-img-cycle {
  background: url(~@images/image-cycle/first.jpg) no-repeat;
  background-size: contain;
}
