// 어디서든 mixin을 사용할 수 있도록 웹팩 빌드 과정에서 모든 scss 파일 상단에 추가되어 파싱됩니다.
// ㄴ 빌드과정에 직접 포함되기 때문에 ../index 에 포함하지 않아도 됩니다.
@mixin test {
  color: $color--gray-3;
}

@mixin auth-form-design {
  .auth__form {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;

    &__input {
      width: 16.75rem;
      height: 2.25rem;
      border: 1px solid $color--gray-3;
      border-radius: 5px;
      margin-bottom: 0.375rem;
      padding: 0.33rem 0.66rem;
    }

    & button {
      border: none;
      border-radius: 4px;
      height: 1.875rem;
      background-color: $color--sky-blue;
      color: $color--white;
      font-size: 14px;
      margin: 0.5rem 0;
    }
  }
}
