extend /templates/auth-form/auth-form

block doc-title
  title email validation

block auth-form-contents 
  form.auth-form
    label example@instagram.com 으로 발송된 보안 코드를 확인해 주세요
      input(required="true" type="number")
    button(type="submit") 제출하기
