body {
  background-image: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .document-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 39rem;
    width: 100%;
  }

  & main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 21.75rem;
  }
}

.auth-form__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $color--gray-0;
  padding: 1.33rem 2rem;
  margin-bottom: 0.66rem;

  & .doge__wrap {
    height: 3rem;
    width: 100%;

    & svg {
      height: 100%;
      width: 100%;
    }
  }
}

.separated-contents__wrap {
  height: 3.813rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color--gray-0;

  & p {
    font-size: 14px;
    text-align: center;
  }
}

@include device-adaptive(mobile) {
  body {
    & main {
      width: 100%;
    }
  }

  .auth-form__wrap {
    border: none;
  }

  .separated-contents__wrap {
    border: none;
  }

  footer {
    width: 22rem;
    margin-bottom: 1.33rem;
  }
}
