doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block doc-title
  body 
    section.document-container
      block aside-img
      main
        div.auth-form__wrap
          header.doge__wrap
            include /assets/images/doge.svg
          block form-area
        div.separated-contents__wrap
          block separated-contents
    block footer
