footer.legal-footer
  nav
    ul.navigator__list
      li
        a(href="#")
          |소개
      li
        a(href="#")
          |블로그
      li
        a(href="#")
          |채용 정보
      li
        a(href="#")
          |도움말
      li
        a(href="#")
          |API
      li
        a(href="#")
          |개인정보처리방침
      li
        a(href="#")
          |약관
      li
        a(href="#")
          |인기 계정
      li
        a(href="#")
          |해시태그
      li
        a(href="#")
          |위치
  p.footer__copyright
    |© 2021 fakestagram from invincibleTeam