@include auth-form-design;

.verify-input {
  width: 100%;
  height: 2.25rem;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 0.33rem 0.66rem;
}

.auth-form__wrap label {
  text-align: center;
}

.separated-contents__wrap {
  display: none;
}
