extends /templates/base

block title
  title Example

block content
  main.example-container
    |
    |
    div.example-container__logo
      include /images/js-logo.svg
    h1 테스트 페이지 입니다.
    div.example-container__devide-line
    p 
      | 테스트 페이지 입니다.
    a(href= test) 테스트 페이지로 이동 →
