extends /templates/base

block title
  title Example2

block content
  main.example-container
    |
    |
    div.example-container__logo
      include /images/js-logo.svg
    h1 예제 페이지 입니다.
    div.example-container__devide-line
    p 
      | 현재 존재하는 페이지들은 프로젝트 구성의 이해를 돕기 위한 임시 페이지들입니다.
      | 살펴보시고 예시 없이도 페이지를 구성할 수 있을정도가 되면 삭제해주세요 :)
    a(href= index) 인덱스 페이지로 돌아가기 →
